.beerListItem {
  padding: 25px;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: white;
  border-top: lightgray 1.5px solid;
}

.beerImgContainer {
  display: flex;
  align-items: center;
}

.beerImg {
  height: 180px;
  padding: 0 25px;
}

.beerInfo {
  margin: 0 25px;
}

p {
  font-size: 16.5px;
}

.heartBtn {
  border: none;
  background-color: white;
  cursor: pointer;
}